.main {
    background-image: url(../img/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 56px;
 

    overflow-y: hidden;
    &-logo {
        text-align: center;
    }
    &-title {
        color: #fff;
        font-size: 40px;
        margin-top: 130px;
        @media(max-width: 768px) {
            font-size: 55px;
        }
    }
    &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 39%;
        bottom: 2%;
        @media(max-width: 768px) {
            left: 30%;
            bottom: 7%;
        }
    }
    &-btn {
        background-color: #FF2020;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        width: 315px;
        padding: 15px 0;
        outline: none;
        text-align: center;
        text-decoration: none;
    }
    &-skip {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        margin-top: 20px;
    }
}