.menu {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;

        &__item {
            background-color: #fff;
            padding: 8px 12px;
            border-radius: 10px;
        }
    }

    &-content {
        line-height: 1.5;
    }

    &-avatar {
        margin-bottom: auto;
    }

    &-slider {
        width: 100px;
        background-color: #fff;
        text-align: center;
        border-radius: 43px;
        transition:  all .5s linear;
        cursor: pointer;
        padding: 15px;
        &:hover {
            color:#fff;
            background-color: #9F111B;
        }
    
        &__item {
            &:hover {
                color:#fff;
            }
        }
        &__block {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &__title {
            margin: 20px 0 20px 20px;
            color: #222E54;
            font-size: 25px;
        }

    }

    &-title {
        &__block {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            background-color: #fff;
            padding: 25px;
            border-radius: 25px;

            width: 75%;
            margin: 0 auto;
        }

        &__text {
            font-size: 25px;
            color: #222E54;
        }

        &__name {
            color: #222E54;
            font-size: 27px;
        }

        &__question {
            color: #222E54;
            font-size: 18px;
        }
    }


    &-product {
        &__block {
            background-color: #fff;
            display: flex;  
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 22px;
            border-radius: 25px;
            width: 50%;
            transform: translate(50%);
        }
        &__item {
            background-color: #EDF0F3;
            padding: 33px 34px;
            border-radius: 23px ;
        }

        &__price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
        }

        &__name {
            font-size: 16px;
        }

        &__cost {
            font-size: 20px;
            font-weight: bold;
            color: #A01721;
        }

        &__text {
            color: #A4ABB9;
            margin-top: 15px;
        }
        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0;


        }
        &__add {
            background-color: #9F111B;
            border-radius: 20%;
            padding: 10px 12px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        &__img {
            margin-right: 8px;
        }
    }

    &-rate {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 20px;
        width: 70px;
        padding: 5px;
        &__img {
            margin-left: 5px;
        }
    }


}




